/* ==========================================| MENU |========================================== */

@media only screen and (max-width: 992px) {
    header .header-logo{
        width: 8rem;
        height: 3rem;
    }
}
@media only screen and (max-width: 768px) {
    header .header-logo{
        width: 8rem;
        height: 3rem;
    }
}
@media only screen and (max-width: 576px) {
    header .header-logo{
        width: 5rem;
        height: 2rem;
    }
}

/* ==========================================| BANNER |========================================== */

@media only screen and (max-width: 992px) {
    .banner-text{
        margin: 20%;
    }
}
@media only screen and (max-width: 768px) {
    .banner-text{
        margin: 25% 10%;
    }
}
@media only screen and (max-width: 576px) {
    .banner-text{
        margin: 40% 3%;
    }

    .banner-text .banner-yellow{
        font-size: 1.5rem;
    }
}

/* ==========================================| BENEFICIOS |========================================== */

@media only screen and (max-width: 768px) {
    #beneficios .container{
        justify-content: space-between;
    }

    .beneficios-card{
        width: 30%;
        padding: 1rem;
    }
}
@media only screen and (max-width: 576px) {
    #beneficios{
        height: auto;
    }

    #beneficios h1{
        margin: 1.5rem;
    }

    #beneficios .container{
        flex-direction: column;
        align-items: center;
    }

    .beneficios-card{
        width: 70%;
        padding: 1rem;
        margin: 1.5rem;
    }
}

/* ==========================================| SOLUÇÕES |========================================== */

@media only screen and (max-width: 768px) {
    .descubra{
        padding: 3rem 10%;
    }
}

@media only screen and (max-width: 576px) {
    .solucoes-box{
        justify-content: center;
    }
    
    .solucoes-card{
        width: 80%;
    }

    .descubra{
        width: 90%;
        padding: 3rem 5%;
    }
}

/* ==========================================| CASES |========================================== */

@media only screen and (max-width: 992px) {
    .cases-card{
        width: 40%;
    }
}

@media only screen and (max-width: 768px) {
    #cases .card{
        margin: 3rem 0.5rem;
    }
}

@media only screen and (max-width: 576px) {
    #cases .card{
        margin: 3rem 3rem;
    }

    #cases .card-deck{
        flex-flow: column wrap;
    }
}

/* ==========================================| CLIENTES |========================================== */

@media only screen and (max-width: 576px) {
    .footer-redes li{
        margin: 0 1rem;
    }
}

/* ==========================================| CONTATO |========================================== */

@media only screen and (max-width: 992px) {
    
}
@media only screen and (max-width: 768px) {
    #contato .formulario{
        padding: 0 2rem;
    }
}
@media only screen and (max-width: 576px) {
    #contato .localizacao{
        margin-top: 3rem;
        padding: 0 3rem;
    }

    #contato small{
        margin-left: 1rem;
    }
}