/* ==========================================| MENU |========================================== */

@media only screen and (max-width: 992px) {
    header .header-logo{
        width: 8rem;
        height: 3rem;
    }
}
@media only screen and (max-width: 768px) {
    header .header-logo{
        width: 8rem;
        height: 3rem;
    }
}
@media only screen and (max-width: 576px) {
    header .header-logo{
        width: 5rem;
        height: 2rem;
    }
}

/* ==========================================| BANNER |========================================== */

@media only screen and (max-width: 992px) {
    .banner-text .banner-bottom{
        width: 100%;
        margin-top: 3rem;
    }
}
@media only screen and (max-width: 768px) {
    .banner-text p{
        font-size: 2rem;
        width: 100%;
    }

    .banner-text .banner-yellow{
        font-size: 3rem;
    }
}
@media only screen and (max-width: 576px) {
    .banner-text .banner-bottom{
        font-size: 1rem;
    }
}

/* ==========================================| BENEFICIOS |========================================== */

@media only screen and (max-width: 768px) {
    #beneficios .container{
        justify-content: space-between;
    }

    .beneficios-card{
        width: 30%;
        padding: 1rem;
    }
}
@media only screen and (max-width: 576px) {
    #beneficios{
        height: auto;
    }

    #beneficios h1{
        margin: 1.5rem;
    }

    #beneficios .container{
        flex-direction: column;
        align-items: center;
    }

    .beneficios-card{
        width: 70%;
        padding: 1rem;
        margin: 1.5rem;
    }
}

/* ==========================================| SOLUÇÕES |========================================== */

@media only screen and (max-width: 576px) {
    .solucoes-box{
        justify-content: center;
    }

    .solucoes-card{
        width: 80%;
    }
}